@media (max-width: 1024px) {
  .places-item__img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 1024px) {
  .places-item__img {
    margin-bottom: 24px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .places-item__img {

  }
}
