.video__title {
  max-width: 800px;
  line-height: 78px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .video__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .video__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
  }
}